// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

html {
    // height: 100%;
    width: 100%;
    margin: auto;
}

.user-name {
    font-size: 11px;
    color: #ffffff;
    margin-bottom: 10px;
}

.lefttime {
    font-size: 11px;
    color: #ffffff;
    margin-top: 12px;
    margin-left: 5px;
    display:inline-block;
}

.righttime {
    font-size: 11px;
    color: #ffffff;
    margin-top: 12px;
    margin-right: 5px;
    float: right;
    display:block;
}

#message-form{
    width: 100%;
}
#form {
    display: flex;
}

#message{
    width:100%;
    box-sizing:border-box;
    height: 600px;
    padding:10px;
    padding:10px;
    overflow: auto;
    background:#7494C0;
}

.speech-bubble {
    overflow: hidden;
    padding-bottom: 10px;
  }

  .speech-bubble p {
    margin: 0;
  }

  .speech-bubble {
    background: #7494C0;
  }

  .speech-bubble:after {
    clear: both;
    content: "";
    display: table;
  }

  .speech-bubble:before {
    content: "";
    display: table;
  }

  .sb-bubble:after,
  .sb-bubble:before {
    content: " ";
    height: 0;
    pointer-events: none;
    position: absolute;
    top: 1.2em;
    width: 0;
  }

  .sb-left {
    float: left;
    margin-left: 20px;
  }

  .sb-right {
    float: right;
    margin-right: 20px;
  }

  /*** 現ライン風（フラット１） ***/

  .sb-line2 {
    border-radius: 1em;
    max-width: 70%;
    padding: .2em 1em;
    position: relative;
  }

  .sb-line2.sb-left {
    background: #f9f9f9;
  }

  .sb-line2.sb-left:after {
    background: #7494C0;
    border-radius: 1.6em 0 0 1.6em;
    border-width: 0 0 1px 1px;
    height: 1.6em;
    margin: -2.3em -1px 0 0;
    right: 100%;
    width: .8em;
  }

  .sb-line2.sb-left:before {
    background: #f9f9f9;
    border-radius: 1.6em 0 0 1.6em;
    border-width: 0 0 1px 1px;
    height: 1.6em;
    margin: -1.8em -1px 0 0;
    right: 100%;
    width: .8em;
  }

  .sb-line2.sb-right {
    background: #84e248;
  }

  .sb-line2.sb-right:after {
    background: #7494C0;
    border-radius: 0 1.6em 1.6em 0;
    border-width: 0 1px 1px 0;
    height: 1.6em;
    left: 100%;
    margin: -2.3em 0 0 -1px;
    width: .8em;
  }

  .sb-line2.sb-right:before {
    background: #84e248;
    border-radius: 0 1.6em 1.6em 0;
    border-width: 0 1px 1px 0;
    height: 1.6em;
    left: 100%;
    margin: -1.8em 0 0 -1px;
    width: .8em;
  }

  #channelName {
    display: block;
    margin-top: 9px;
    margin-right: 13px;
  }

  .messages {
    font-size: 15px;
  }

  #chat-space {
    width: 80%;
    margin: auto;
  }

  #explanation {
    margin-top: 50px;
  }

  .c-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.5;
  }

  #create-channel-form {
    margin-top: 50px;
  }

  #form {
    display: flex;
  }

  .form-input {
    display: inline-block;
    margin-right: 10px;
  }

  #home {
    width: 80%;
    margin: auto;
  }

#create-chat {
    background: #7494C0;
}
