// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


// reset & base
*,::before,::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rounded Mplus 1c";
}

html {
    // height: 100%;
    width: 80%;
    margin: auto;
}

#channel_name{
    width: 100%;
}
#form {
    display: flex;
}

#message{
    width:100%;
    box-sizing:border-box;
    height: 600px;
    padding:10px;
    padding:10px;
    overflow: auto;
    background:#7494C0;
}

.chatLeft{
    // display:flex;
    box-pack:start;
    -webkit-box-pack:start;
    overflow: hidden;
    margin:0 8px 16px 8px;
}

.chatLeft .comment {
    position:relative;
    max-width:200px;
    background:#EDF1EE;
    padding:8px;
    margin:0 8px 0 8px;
    border-radius:8px;
}

.chatLeft .comments {
    margin-left: 20px;
}

.chatRight .comments {
    margin-right: 20px;
}

.comments {
    display: flex;
}

.user-name {
    margin-bottom: auto;
}

.chatLeft .time-box{
    display:flex;
    -webkit-align-items:flex-end;
    align-items:flex-end;
}

.chatRight .time-box{
    display:flex;
    -webkit-align-items:flex-end;
    align-items:flex-end;
}

.chatRight{
    display:flex;
    flex-direction:row-reverse;
    box-pack:end;
    -webkit-box-pack:end;
    overflow: hidden;
    margin:0 8px 16px 8px;
}

.chatRight .comment{
    position:relative;
    max-width:200px;
    background:#8DE055;
    margin:0 0 0 8px;
    padding:8px;
    border-radius:8px;
}

.chatRight .comments .time-box{
   order: -1;
}

.clearfix{clear:both;}

.chatLeft span.time,
.chatRight span.read,
.chatRight span.time{display:block;}
